.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: #ffdfa7;
  align-items: center;
  border-radius: 5px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  font-size: 22px;
  background: #ba0303;
  color: #f8f9f4;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
